@model HomeStay.Models.Room

@{
    ViewData["Title"] = "Create Room";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="mt-4">
    <h4>QUẢN LÝ LƯU TRÚ</h4>
    <div class="header_sub-title">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="#" class="text-decoration-none">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Create</li>
            </ol>
        </nav>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12 border_container" >
        <div style="height : 70vh;overflow-y: auto;overflow-x: hidden;" class="px-1">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row g-4">
                    <div class="form-group col-6">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Detail" class="control-label"></label>
                        <input asp-for="Detail" class="form-control" />
                        <span asp-validation-for="Detail" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Area" class="control-label"></label>
                        <input asp-for="Area" class="form-control" />
                        <span asp-validation-for="Area" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Capacity" class="control-label"></label>
                        <input asp-for="Capacity" class="form-control" />
                        <span asp-validation-for="Capacity" class="text-danger"></span>
                    </div>

                    <div class="form-group col-6">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-check form-switch mt-5 col-6 ">
                        <input class="ms-2 form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" asp-for="Active">
                        <label class="ms-2  form-check-label" for="flexSwitchCheckDefault">Active</label>
                    </div>

                    <div class="form-group col-6">
                        <label asp-for="CategoryId" class="control-label">Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                            <option value="">Select value option</option>
                        </select>
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group col-12 row g-4">
                        <div class="col-6">
                            <label asp-for="Avatar" class="control-label"></label>
                            @*  <input asp-for="Avatar" class="form-control" />   *@
                            <input asp-for="Avatar" name="fthumb" type="file" class="form-control" onchange="previewImage(this)" />
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <img id="imagePreview" class="img-preview rounded-12" src="~/img/default.png" alt="Preview" style="max-width: 100%; max-height: 200px;" />
                        </div>
                    </div>

                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Create" class="btn bg-primary text-white" />
                </div>
            </form>
       </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-decoration-none text-primary">Back to List</a>
</div>

@section scripts {
    <script>
        function previewImage(input) {
            var preview = document.getElementById('imagePreview');
            var file = input.files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                preview.src = reader.result;
            };
            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "~/img/default.png";
            }
        }
    </script>
}