
:root {
    --text-color: #222222;
    --hover-color: #f65e39;
    --background-color: #fff;
    --border-color: #e9e8e8;
    --outline-color: #00afdd;
}

.room_title {
    color: #4FAFDD;
    font-size : 16px;
    font-weight : 500;
   
}
.header_vietnam{
    width: 26px;
    height:26px;
    border-radius: 50%;
    margin-top:-6px;
}
.btn_transparent{
    border: none;
    outline: none;
    background-color: transparent;
}
.btn_transparent:hover {
    background-color: #c7dde2;
}


.btn_transparent_cuise:hover {
    border: none;
    outline: none;
    background-color: transparent;
}



.fruite .fruite-item {
    height: 100%;
    transition: 0.5s;
}

.fruite .fruite-item .fruite-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
    display:block;
   
}
.fruite .fruite-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.content_room-item {
    border-radius: 0px 0px 10px 10px;
    border-width: 1px;
    border-color: #4FAFDD;
    border: 1px solid #4FAFDD ;
}
.room_favoried {
    border-width: 1px;
    border-color: #4FAFDD;
    border: 1px solid #4FAFDD;
}
.fruite .fruite-item .fruite-img img:hover {
    transform: scale(1.3);
}
.fruite .fruite-item .fruite-img img {
    transition: 0.5s;
    height: 202px;
    width: 100%;
    object-fit:cover;
}

.pagination a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid #4FAFDD;
    margin: 0 4px;
    border-radius: 4px;
}

.pagination span {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid #4FAFDD;
    margin: 0 4px;
    border-radius: 4px;
}
 HOME LAYOUT 
.welcome-heading {
    font-size: 28px;
    font-weight: 700;
}

.section-title-heading {
    font-size: 22px;
    font-weight:700;
}
.location_ontrend-contain{
    width : 100%;
    height: 300px;
}
.location_ontrend-contain:hover {
    cursor: pointer;
    border: 1px solid #4FAFDD;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.img-100{
    width : 100%;
    height : 100%;
    object-fit: cover;
    border-radius : 16px;       
}
.absolute_hittle{
    left : 16px;
    top: 16px;
}
.absolute_hittle h3 {
    color: #cfc547;
    text-shadow: 10px 10px 25px rgb(81,67,21), -10px 10px 25px rgb(81,67,21), -10px -10px 25px rgb(81,67,21), 10px -10px 25px rgb(81,67,21);
}

.specical_item-contain {
    border-radius : 16px;  

}
.specical_item {
    border: 1px solid #4FAFDD;
}

.specical_item-production {
    width: 100%;
    height: 226px;
}

.img-100_haft {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-start-end-radius: 16px;
    border-start-start-radius: 16px;
}

.img-100_right {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.search-home-containter {
    background-color: #ffb700;
    padding: 4px;
}
.search_contain {
    background-color: white;
    padding: 4px;
    border: 1px solid none;
}
.search_contain:hover {
    border: 1px solid #4FAFDD;
}
.input_form-transperant {
    border: none;
    outline: none;
}
.container_slider {
    height: 274px;
    width:100%;
 
}
.item-slider {
    border: 1px solid #4FAFDD;
}
.slieder-boxshadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.banner_firstyear{
    top: 26px;
    left : 16px;
}

/* =================================LOGIN===================================== */

/* container Welcome */
.welcome {
    background: linear-gradient(90deg,#00AFDD 0,#519bad 51%,#269999);
    padding: 26px 16px ;
    border-radius : 10px;
    color: #fff;
}

.welcome-title_heading {
    font-size: 23px;
    line-height: 30px;
}

.welcome-subtext {
    font-size: 16px;
    line-height: 20px;
}

.container_rsm {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container-section-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 100%;
}



.section-ittem__register {
    margin-top: -32% !important;
}

.container-section-img {
    width: 100%;
    height: 80px;
}

    .container-section-img img {
        width: 13%;
    }

.container-section-heading {
    font-size: 18px;
    color: var(--text-color);
}

.container-section-title {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
    display: block;
}



.container-section-auth-item {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 26px 26px;
    border-radius: 12px;
}

.col-6-half {
    flex: 0 0 auto;
    width : 49%;
}
.container-section-account {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 12px;
    padding: 35px;
    display: block;
    color: var(--text-color);
}


.container-account-heading {
    font-size: 24px;
    margin-top: 5px;
}

.container-account-title {
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
    display: block;
}

.account-form_input {
    margin-top: 35px;
}

.account-form_input input {
    height: 32px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid var(--border-color);
    padding: 22px 15px;
}

.account-form_input input:focus {
    border-color: var(--outline-color);
    box-shadow: 0 0 5px 0 rgb(246 94 57 / 50%);
    outline: none;
}

.account-form_button {
    margin-top: 35px;
}

.acount-form--btn_primary {
    width: 100%;
    height: 50px;
    background-size: 200% auto;
    background: linear-gradient(90deg,#00AFDD 0,#519bad 51%,#269999);
    border: none;
    border-radius: 25px;
    color: var(--background-color);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.container-account-support div {
    margin-top: 30px;
    text-align: center;
}

    .container-account-support div > span {
        font-size: 15px;
        color: var(--text-color);
    }

        .container-account-support div > span a {
            text-decoration: none;
            color: var(--outline-color);
        }

            .container-account-support div > span a:hover {
                text-decoration: none;
                color: var(--hover-color);
            }

.account__login--app span {
    text-align: center;
    text-align: center;
}

.container-account__login div:first-child {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
}

.container-account__login .account__login--app {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 35px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.account__login--app > span {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: var(--text-color);
}

    .account__login--app > p:hover {
        cursor: pointer;
        color: var(--hover-color);
    }

.container-account__login .account__login--app:not(:first-child) {
    margin-top: 20px;
}

.op-08 {
    font-size: 15px;
    margin-bottom: 10px;
}

.form__mt {
    margin-top: -15px;
}

.phone-input {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}