@model HomeStay.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="mt-5 ">
    <div class="container px-0 py-5">
        <div class="welcome mt-5">
            <div class="welcome-items col-7 m-12">
                <h1 class="welcome-title_heading">
                    Đăng ký thành viên HomeStay - Tích điểm thưởng và nhận ưu đãi
                </h1>
                <p class="welcome-subtext">
                    Nhanh chóng, tiện lợi và an toàn. Đăng ký liền tay, rinh ngay quyền lợi.
                </p>
            </div>
        </div>
        <div class="section mt-5">
            <div class="row g-3">
                <div class="col-8 ">
                    <div class="w-100 row gap-3">
                        <div class="container-section-auth-item col-6-half ">
                            <div>
                                <div class="pad_r-l">
                                    <h3 class="container-section-heading">
                                        Tích điểm nhanh chóng
                                    </h3>
                                    <p class="container-section-title">
                                        Tích điểm đối với mỗi lượt đặt chỗ thành công. Quy đổi thành Home Credit để du lịch nhiều hơn nữa.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container-section-auth-item col-6-half">
                            <div>
                                <div class="pad_r-l">
                                    <h3 class="container-section-heading">
                                        Tiện ích thông minh
                                    </h3>
                                    <p class="container-section-title">
                                        Check-in và kiểm tra hóa đơn thanh toán kể cả khi không có kết nối mạng. Hoàn tiền nhanh gọn. Đổi lịch dễ dàng.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container-section-auth-item col-6-half ">
                            <div>
                                <div class="pad_r-l">
                                    <h3 class="container-section-heading">
                                        Thanh toán đơn giản
                                    </h3>
                                    <p class="container-section-title">
                                        Phương thức thanh toán tiện lợi, an toàn. Tích hợp chức năng lưu thẻ để đặt phòng lần sau.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container-section-auth-item col-6-half">
                            <div>
                                <div class="pad_r-l">
                                    <h3 class="container-section-heading">
                                        Ưu đãi mỗi ngày
                                    </h3>
                                    <p class="container-section-title">
                                        Nhận thông báo ưu đãi từ Homestay khi có kế hoạch du lịch để lựa chọn và đặt ngay cho mình một chỗ ở phù hợp, tiện nghi với giá tốt nhất.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-4 ">
                    <div class="container-section-account">
                        <h3 id="container-account-heading" class="text-primary fw-bold">
                            Đăng ký
                        </h3>
                        <span class="fs-14 ">
                            Đăng ký để trải nghiệm dịch vụ tốt nhất của chúng tôi
                        </span>
                        <form class="container-account-form" id="container-account-form" asp-action="Register" method="post">
                            <div class="account-form_input">
                                <label asp-for="Email" class="control-label mb-1"></label>
                                <input asp-for="Email" type="text"  class="input" placeholder="Nhập email...">
                                <span asp-validation-for="Email" class="text-danger"></span>
                               @*  <span class="form-message" id="notification-email"></span> *@
                            </div>
                            <div class="account-form_input mt-2">
                                <label asp-for="FullName" class="control-label mb-1"></label>
                                <input asp-for="FullName" type="text"  class="input" placeholder="Nhập tên...">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>

                            <div class="account-form_input mt-2">
                                <label asp-for="Address" class="control-label mb-1"></label>
                                <input asp-for="Address" type="text"  class="input" placeholder="Nhập địa chỉ...">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>


                            <div class="account-form_input mt-2">
                                <label asp-for="Birthday" class="control-label mb-1"></label>
                                <input asp-for="Birthday" type="date" class="input" value="@DateTime.Today.ToString("yyyy-MM-dd")" >
                                <span asp-validation-for="Birthday" class="text-danger"></span>
                            </div>

                            <div class="account-form_input mt-2">
                                <label asp-for="PhoneNumber" class="control-label mb-1"></label>
                                <input asp-for="PhoneNumber" type="number"  class="input" placeholder="Nhập số điện thoại...">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="account-form_input mt-2">
                                <label asp-for="Password" class="control-label mb-1"></label>
                                <input asp-for="Password" type="password"  class="input" placeholder="Nhập mật khẩu...">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            
                             <div class="account-form_input mt-2">
                                <label asp-for="ConfirmPassword" class="control-label mb-1"></label>
                                <input asp-for="ConfirmPassword" type="password" class="input" placeholder="Xác nhận mật khẩu...">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="account-form_button">
                                <input type="submit" value="Đăng Ký" class="acount-form--btn_primary" id="account-form__submit" />
                            </div>

                            <div class="container-account-support">
                                <div>
                                    <span>
                                        Bạn đã có tài khoản Homestay?
                                        <a  asp-controller="Auth" asp-action="Login">Đăng nhập</a>
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        Tôi đồng ý với <b style=" font-weight:600;opacity: 0.85;font-size:14px">Bảo mật</b> và <b style=" font-weight:600;opacity: 0.85;font-size:14px">Điều khoản hoạt động</b> của Homestay.
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="container-account__login">
                            <div>
                                Hoặc
                            </div>
                            <div class="account__login--app">
                                <span>Đăng nhập với Facebook</span>
                            </div>

                            <div class="account__login--app">
                                <span>Đăng nhập với Google</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

