<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/HomeStay.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homeAdmin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome.css" asp-append-version="true" />

</head>

<body>
    <div class="app">
        <section>
            <div>
                @* header *@
                <div class="container-layout-header">
                    <div class="d-flex align-content-center align-items-center">
                        <div class="flex-grow-1 d-flex align-items-center ">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="" asp-action="">
                            </a>
                            <a asp-area="" asp-controller="" asp-action="" class="navbar-brand">
                                <h1 class="text-primary fw-bold display-7">HomeStay</h1>
                            </a>
                        </div>
                        <div class="">
                            @if (TempData["EmailAccount"] == null)
                            {
                                <span class="fs-16 fw-bolder">Xin chào, Admin!</span>
                            }
                            else
                            {
                                <span class="fs-16 fw-bolder">Xin chào, @TempData["NameAccount"]!</span>
                                <div class="btn_transparent  p-1 rounded-3">
                                    <a asp-area="Admin" asp-controller="Home" asp-action="Logout" class="text-decoration-none text-danger">
                                        <i class="fa-solid fa-right-from-bracket me-1"></i>
                                        <span class="fs-16">Đăng xuất</span>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                @* container *@
                <div class="d-flex">
                    @* sidebar *@
                    <div class="fixer-pt sidebar-layout fixed">
                        <div class="manager_mt">
                            <div class="">
                                <h5 class="text-primary">QUẢN LÝ</h5>
                                <div class="d-flex flex-column gap-1">
                                    <a class="nav-link text-light" asp-area="Admin" asp-controller="AdminRoles"
                                       asp-action="Index">
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fa-solid fa-gear col-2"></i>
                                            <span class="text-light fs-14 col-10">Quản lý Quyền</span>
                                        </div>
                                    </a>
                                    <a class="nav-link text-light" asp-area="Admin" asp-controller="Accounts"
                                       asp-action="Index">
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fa-solid fa-circle-user col-2"></i>
                                            <span class="text-light  fs-14 col-10">Quản lý Tài Khoản</span>
                                        </div>
                                    </a>
                                    <a class="nav-link text-light" asp-area="Admin" asp-controller="Customers"
                                       asp-action="Index">
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fa-solid fa-users col-2"></i>
                                            <span class="text-light  fs-14 col-10">Quản lý Khách Hàng</span>
                                        </div>
                                    </a>
                                    <a class="nav-link text-light" asp-area="Admin" asp-controller="Rooms" asp-action="">
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fa-solid fa-bed col-2"></i>
                                            <span class="text-light  fs-14 col-10">Quản lý Lưu Trú</span>
                                        </div>
                                    </a>
                                    <a class="nav-link text-light" asp-area="Admin" asp-controller="Bookings" asp-action="Index">
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fa-solid fa-receipt col-2"></i>
                                            <span class="text-light  fs-14 col-10">Quản lý Booking</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="mt-4">
                                <h5 class="text-primary">THỐNG KÊ</h5>
                                <div class="d-flex flex-column gap-1">
                                    <a class="nav-link text-light" asp-area="Admin" asp-controller="" asp-action="">
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fa-solid fa-chart-simple col-2"></i>
                                            <span class="text-light  fs-14 col-10">Quản lý thống kê</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* content *@
                    <div class="content_admin ml-content">
                        <main role="main" class="">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>


        </section>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/fontawesome.js" ></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
